footer{
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    background: #f1f1ff;
    color: #1d1d1d;
    p{
        opacity: .7;
    }
}
.ThemeEffect{
    footer{
        background: #fff;
    }
}